.toolsCatalog
    display: flex
    flex-direction: column
    .bar-search
        form
            display: flex
            justify-content: flex-end
            align-items: center
            margin-right: 1%
            input
                width: 35%
                text-align: center
                margin-right: 0.5%

    .filters
        margin-top: 1%
        margin-bottom: 1%
        display: flex
        justify-content: center
        align-items: center
        gap: 1%

        form
            margin-right: 1%
            width: 50%
            display: flex
            justify-content: flex-end
            align-items: center

            select
                width: 55%
                margin-right: 1%

            label
                font-size: 75%
                margin-right: 1%

        .filter_price
            width: 35%

            input
                width: 20%
